<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if exercises %}
        {% for exercise in exercises %}
            <div>
                {{ exercise.name }} : {{ exercise.description }}
                <form action="{{ url_for('exercise.update_exercise', exercise_id=exercise.exercise_id) }}" method="GET">
                    <button type="submit">Редактировать</button>
                </form>
                <form action="{{ url_for('exercise.delete_exercise', exercise_id=exercise.exercise_id) }}" method="DELETE">
                    <button type="submit">Удалить</button>
                </form>
            </div>
          {% endfor %}
    {% endif %}
</body>
</html>