<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if exercise %}
            <div>
              <em>{{ exercise.id }}:</em> {{ exercise.name }} : {{ exercise.description }}
                {% if exercise.muscles %}
                    {% for muscle in exercise.muscles %}
                        <div>{{ muscle.name }}
                            <form method="GET" action="{{ url_for('exercise.remove_muscle', exercise_id=exercise.id, muscle_id=muscle.id) }}">
                                <button type="submit">Удалить</button>
                            </form>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.name}}<br>
                    </p>
                    <p>{{ form.submit() }}</p>
                </form>
            </div>
    {% endif %}
</body>
</html>