{% extends "layouts/base.html" %}
{% block heading %}
Зайдействованные мышцы
{% endblock %}
{% block content %}
    {% if exercise %}
            <div class="card">
                <div class="card-header"> <strong class="card-title">{{ exercise.name }} </strong></div>

                <div class="card-body">
                    <div class="card-text">
                         {{ exercise.description }}
                    </div>
                </div>
                <div class="card-header"><strong>Задействованные мышцы</strong></div>
                    <ul class="list-group list-group-flush">
                        {% if exercise.muscles %}
                            {% for muscle in exercise.muscles %}
                                <li class="list-group-item"><a class="text-danger" href="{{ url_for('exercise.remove_muscle', exercise_id=exercise.id, muscle_id=muscle.id) }}">Удалить</a> {{ muscle.name }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
            </div>
            <div>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p class="form-outline mb-4">
                        {{ form.name}}<br>
                    </p>
                    <p class="d-flex justify-content-center">{{ form.submit() }}</p>
                </form>
            </div>
    {% endif %}
{% endblock %}