<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if exercise %}
            <div>
              <em>{{ exercise.exercise_id }}:</em> {{ exercise.name }} : {{ exercise.description }}
                {% for muscle in exercise.muscles %}
                    <div>{{ muscle.name }}
                        <form method="GET" action="{{ url_for('exercise.remove_muscle', exercise_id=exercise.exercise_id, muscle_id=muscle.muscle_id) }}">
                            <button type="submit">Удалить</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
            <div>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.name}}<br>
                    </p>
                    <p>{{ form.submit() }}</p>
                </form>
            </div>
    {% endif %}
</body>
</html>