{% extends "layouts/base.html" %}
{% block heading %}
Редактировать упражнение
{% endblock %}
{% block content %}
  <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-outline mb-4">
            {{ form.id(class_="d-none") }}<br>
            {{ form.name.label(class_="form-label") }}<br>
            {{ form.name(class_="form-control") }}
        </div>
        <p class="form-outline mb-4">
            {{ form.description.label(class_="form-label") }}<br>
            {{ form.description(size=32) }}
        </p>
        <p class="d-flex justify-content-center">{{ form.submit() }}</p>
    </form>
{% endblock %}