{% extends "layouts/base.html" %}
{% block heading %}
Главная страница
{% endblock %}
{% block content %}
    <div>
        Это жесткий и мотивирующий текст про спорт и мотивацию!
Сегодня мы поговорим о том, как мотивировать себя на спорт.
Спорт и мотивация – это две важные составляющие, которые помогают нам добиваться успехов в любом деле.
И если вы хотите, чтобы ваш успех был больше, то нужно хорошо мотивироваться.<br><br>
Без мотивации успех будет не таким большим, каким мог бы быть.
А если у вас нет мотивации, то вы не будете делать то, что вам нужно.
Вы просто не сможете заставить себя сделать что-то.
Это может быть даже то, от чего вам будет плохо.
    </div>
    <div class="mt-3">
        Если ты будешь тренироваться как Майк Тайсон, как Брюс Ли, то ты сможешь добиться всего, чего захочешь.<br><br>
Ты сможешь стать самым сильным и самым красивым человеком на планете.
Но если ты не будешь тренироваться, ты никогда не сможешь этого добиться.
И я говорю это не только ради того, чтобы тебя как-то напугать.
Я говорю это потому, что знаю, о чем говорю.<br><br>
Если бы я мог заставить тебя тренироваться, то я бы сделал это.
Потому что, если бы ты тренировался, ты бы стал таким, каким я был.
А если бы ты стал таким как я, ты смог бы стать кем угодно.
    </div>
<div class="mt-3">
    Каждый день тренируйся, не жалея себя. Я говорю тебе: если ты хочешь развить свои силы, ты должен тренироваться до изнеможения. Не думай, что твои силы исчерпаны. У тебя еще есть резервы. Но они откроются для тебя лишь тогда, когда ты будешь готов. Иначе они никогда не откроются. Ты должен быть готов к этому.<br><br> Тренируйся!
</div>
{% endblock %}