{% extends "layouts/base.html" %}
{% block heading %}
Создать тренировку
{% endblock %}
{% block content %}
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="form-outline mb-4">
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p class="form-outline mb-4">
            {{ form.description.label }}<br>
            {{ form.description(size=32) }}
        </p>
        <p class="d-flex justify-content-center">{{ form.submit() }}</p>
    </form>
{% endblock %}