{% extends "layouts/base.html" %}
{% block heading %}
Редактировать упражнение тренировки
{% endblock %}
{% block content %}
    <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p class="form-outline mb-4">
                        {{ form.name }}
                    </p>
                    <p>
                        {{ form.sequence_number }}
                    </p>
                    <p class="form-outline mb-4">
                        {{ form.sets }}
                    </p>
                    <p class="form-outline mb-4">
                        {{ form.reps }}
                    </p>
                    <p class="form-outline mb-4">
                        {{ form.timeout }}
                    </p>
                    <p class="d-flex justify-content-center">{{ form.submit() }}</p>
                </form>
{% endblock %}