{% extends "layouts/base.html" %}
{% block heading %}
Добавить упражнение
{% endblock %}
{% block content %}
    {% if train %}
        <div>{{train.name}}</div>
        <div>{{train.description}}</div>
        <div>Упражнения</div>
        {% for train_exercise in train.train_exercises %}
            <div>{{train_exercise.name}}</div>
            <div>{{train_exercise.sets}}</div>
            <div>{{train_exercise.reps}}</div>
            <div>{{train_exercise.timeout}}</div>
            <div><a href="{{ url_for('train.update_train_exercise', train_id=train.id, sequence_number=train_exercise.sequence_number) }}">Редактировать</a></div>
            <form method="GET" action="{{ url_for('train.remove_train_exercise', train_id=train.id, sequence_number=train_exercise.sequence_number) }}">
                <button type="submit">Удалить</button>
            </form>
            <div><a href="{{ url_for('exercise.get_exercise', exercise_id=train_exercise.exercise_id) }}">Подробнее</a></div>
        {% endfor %}
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p class="form-outline mb-4">
                        {{ form.name }}
                    </p>
                    <p class="form-outline mb-4">
                        {{ form.sets }}
                    </p>
                    <p class="form-outline mb-4">
                        {{ form.reps }}
                    </p>
                    <p class="form-outline mb-4">
                        {{ form.timeout }}
                    </p>
                    <p class="d-flex justify-content-center">{{ form.submit() }}</p>
                </form>
    {% endif %}
{% endblock %}